<footer>
  <p>&copy; <%= Date.today.year %> <a href="#">lndon.uk</a>.</p>
  <p>Powered by <a href="https://rubyonrails.org/">Ruby On Rails</a>, <a href="https://stimulusreflexdotcom.fly.dev/">StimulusReflex</a>, <a href="#">OpenBSD</a> and <a href="https://geoghegan.ca/pfbadhost.html">pfbadhost</a>.</p>
</footer>

