<header>
  <div class="tabs">
    <%#= Platform.all.each do |platform| %>
      <%#= tag.p platform, class: "active" %>
    <%# end %>
    <p class="active">OpenBSD</p>
    <p>FreeBSD</p>
    <p>NetBSD</p>
    <p>macOS</p>
  </div>
</header>

