<div data-controller="search" id="search">
  <%= form_with method: :get do |form| %>
    <%= form.text_field :query, data: { action: "input->search#search" }, autocomplete: "off", value: params[:query], placeholder: "Search #{ number_with_delimiter(Port.all.count) } ports in #{ Category.all.count } categories..." %>
  <% end %>
  <div id="reset_link">
    <%= render partial: "shared/reset_link", query: params[:query] %>
  </div>
  <div id="live_results">
  </div>
</div>

