@import "swiper/swiper-bundle.min";

// --

:root, .light_mode_link {
  --white: #ffffff;
  --black: #000000;
  --blue: #000084;
  --light-blue: #5623ee;
  --extra-light-grey: #f0f0f0;
  --light-grey: #ababab;
  --grey: #999999;
  --dark-grey: #666666;
  --warning-red: #b04243; // Federal Standard 595c
}

.dark_mode_link {
  --white: #000000;
  --black: #ffffff;
  --blue: #5623ee;
  --light-blue: #000084;
  --extra-light-grey: #666666;
  --light-grey: #999999;
  --grey: #ababab;
  --dark-grey: #f0f0f0;
}

// --

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  color: var(--black);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: right;

  .tabs {
    display: flex;
    justify-content: left;
    margin-top: 18px;
    color: var(--light-grey);
    border-bottom: 1px solid var(--extra-light-grey);

    p {
      padding: 0 3px 8px;
      margin-right: 28px;
    }

    p.active {
      color: var(--black);
      border-bottom: 1px solid var(--black);
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  .logo {
    text-indent: -9999px;
    margin: 12px 0 22px;
  }

  .logo, .logo:before {
    width: 182px;
    height: 44px;
  }

  .logo:before {
    content: "";
    position: absolute;
    background-image: url("bsdports_182x44.svg");
    background-repeat: no-repeat;
    display: block;
  }
}

#search {
  width: 480px;
  // background-color: var(--extra-light-grey);
  border: 1px solid var(--extra-light-grey);
  border-radius: 30px;
  font-size: 18px;
  transition: all 100ms ease-in-out;

  input {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    padding: 16px 24px 15px;
  }

  input:placeholder {
    color: var(--dark-grey);
  }
}

#search.focus, #search.active {
  background-color: var(--white);
  // border-color: var(--white);
  border-color: var(--extra-light-grey);
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px 0px;
}

#search.active {
  border-radius: 14px;

  #live_results {
    height: 480px;
    overflow: hidden;
    border-top: 1px solid var(--extra-light-grey);
    padding: 12px 24px;
    font-weight: bold;
    line-height: 29px;

    a {
      display: block;
    }
  }
}

.updated_at {
  margin: 62px 0 12px;
  color: var(--light-grey);
  font-size: 13px;
}

.dark_mode_link, .light_mode_link {
  text-indent: -99999px;
  opacity: 0.4;
}

.dark_mode_link, .light_mode_link, .dark_mode_link:before, .light_mode_link:before {
  width: 16px;
  height: 16px;
}

.dark_mode_link:before {
  background-image: url("moon_full_16x16.svg");
}

.light_mode_link:before {
  background-image: url("moon_outline_16x16.svg");
}

.dark_mode_link:before, .light_mode_link:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  display: block;
}

footer {
  color: var(--light-grey);
  font-size: 13px;
  padding: 12px;
  display: flex;

  a {
    text-decoration: underline;
  }

  p:nth-of-type(2) {
    margin-left: auto;
  }
}

